html, body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    color: #edf2f4;
    font-family: Helvetica;
    font-weight: 500;
}

/* Stile Scrollbar */
* { /* Modifica scrollbar su Firefox */
    scrollbar-width: 12px;
    scrollbar-color: #2b2d42 #8d99ae;
  }
  
*::-webkit-scrollbar { /* Modifica scrollbar su Chrome, Edge, and Safari */
    width: 12px;
  }
  
*::-webkit-scrollbar-track {
    background: #8d99ae;
  }
  
*::-webkit-scrollbar-thumb {
    background-color: #2b2d42;
    border-radius: 5px;
    border: 3px solid #8d99ae;
  }
/* Fine Stile Scrollbar */

#gameSection {
    min-height: 100%;
    background-color: #8d99ae;
    justify-content:center;
    align-items:center;
    display: flex;
    flex-direction: column;
}

#gameCanvas {
    border: 3px solid #edf2f4;
    border-radius: 5px;
    background-color: #2b2d42;
    box-shadow: 0 0 50px 10px #2b2d42;
    /* margin-top: 3%; */
}

#scoreText {
    font-size: 50px;
    margin-top: 3%;
    margin-bottom: 1%;
    user-select: none;
}

button {
    width: 125px;
    height: 35px;
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
    font-size: 15px;
    text-decoration: none;
    user-select: none;
    color: #edf2f4;
    margin: 0 10px 3% 10px;
    outline: none;
}

#pauseButton {
    border: 3px solid #3ec300;
} 

#pauseButton.notPaused {
    border: 3px solid #ff9f1c;
} 

#pauseButton:hover {
    background-color: #3ec300;
    box-shadow: 0 0 20px 3px #3ec300;
}

#pauseButton:hover.notPaused {
    background-color: #ff9f1c;
    box-shadow: 0 0 20px 3px #ff9f1c;
}

#resetButton {
    border: 3px solid #d90429;
} 

#resetButton:hover {
    background-color: #d90429;
    box-shadow: 0 0 20px 3px #d90429;
} 